via javascript
	http://www.curvycorners.net/includes/examples/demo4.html

via images
	http://www.kyleschaeffer.com/best-practices/reusable-transparent-css-rounded-corners/

more...
	http://www.catswhocode.com/blog/10-ways-to-make-internet-explorer-act-like-a-modern-browser

